<app-nav-bar [linkAll]="linkAll" [linkUserOnly]="linkUsersOnly">
    <div class="container">
        <div class="parent">
                <div class="filter">
                <mat-form-field appearance="outline">
                    <mat-label>Filter by status</mat-label>
                    <mat-select [formControl]="options" placeholder="options" multiple >
                        <mat-option (onSelectionChange)="clearFilter()">All</mat-option>
                        <mat-option *ngFor="let item of optionsList" value={{item}} (onSelectionChange)="getFilteredItems()">{{item|postStatusPipe}}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
            <div *ngFor="let post of posts|async" class="child">
                <app-card-input [post]="post">
                </app-card-input>
            </div>
            <div class="add-sign">
                <mat-icon (click)="callPostForm()" color="primary">add_circle</mat-icon>
            </div>
         </div>
    </div>
</app-nav-bar>
