
<div class="container">
    <div class="user-form">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <app-name-input [label]="'first name'">
                    <input matInput formControlName="firstName" />
                  </app-name-input>
                <app-name-input [label]="'last name'">
                    <input matInput formControlName="lastName" />
                  </app-name-input>           
                <mat-form-field class="full-width" appearance="fill">
                <mat-label>email</mat-label>
                <input matInput #input type="email" name="email" formControlName="email">
                <mat-hint align="end">max 50 characters {{input.value.length || 0}}/50</mat-hint>
                <mat-error *ngIf="!email?.valid&&(email?.dirty||email?.touched)">
                    <mat-error *ngIf="email?.errors?.['required']">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="email?.errors?.['email']">
                        Is not an email format.
                    </mat-error>
                </mat-error>
            </mat-form-field>
                <app-phone-input [label]="'phone'">
                    <input matInput type="text" name="phone" formControlName="phone">
                </app-phone-input>    
                <app-address-input [label]="'address'">
                    <input matInput #input type="text" name="address" formControlName="address">
                </app-address-input>
        <mat-card-actions>
            <button mat-raised-button style="margin: 1px;" color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
            <button mat-raised-button style="margin: 1px;" color="primary" onclick="history.back()">Back</button>
        </mat-card-actions>
</form>
</div>
</div>