
.container {
  width: 100;
  /* Setup */
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.parent{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-content: right;
}

.child{
  margin-bottom: 5px;
  width: 100%;
}


.filter{
margin: 1%;
}

.mat-icon {
  transform: scale(4);
}

.add-sign{
right:23%;
justify-content: end;
position:fixed;
bottom:5%;
font:200;
background-color: white;
font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .parent{
    flex-direction: column ;
    width: 100vw;
    flex:1;
  }
}

.add-sign{
  right:23%;
  justify-content: end;
  position:fixed;
  bottom:10%;
  font:200;
  background-color: white;
  font-size: 3rem;
  }