<app-nav-bar [linkAll]="linkAll" [linkUserOnly]="linkUsersOnly">
    <div class="container">
        <div class="parent">
            <div *ngFor="let post of posts|async" class="child">
                <app-card-input 
                [post]="post" 
                [formType]="formType">
                </app-card-input>
                </div>
                <div class="add-sign">
                    <mat-icon (click)="callPostForm()" color="primary">add_circle</mat-icon>
                </div>
            </div>
    </div>


