<mat-card class="user-form">
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <app-phone-input [label]="'phone'">
            <input matInput type="text" name="phone" formControlName="phone">
        </app-phone-input>
    </div>
    <div class="row">
        <app-address-input [label]="'address'">
            <input matInput #input type="text" name="address" formControlName="address">
        </app-address-input>
    </div>
    <div class="row">
          <mat-form-field class="full-width">
            <input matInput placeholder="Availability" formControlName="availability">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="full-width">
            <input matInput placeholder="Details" formControlName="details">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="full-width">
            <mat-select placeholder="status" formControlName="postStatus">
                <mat-option *ngFor="let opt of statusOptions" [value]="opt">
                    {{ opt }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.valid">Submit</button>
    </mat-card-actions>
</form>
<app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
</mat-card>


