.file-input {
  display: none;
}

.upload-box{
  font-family: arial;
  font-size: 24px;
  width: 350px;
  height: 200px;
  outline: 1px solid #c5bdbd;
  /* Setup */
  position: relative;
  margin: 0 auto;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}