.file-input {
  display: none;
}

.upload-box{
  font-family: arial;
  font-size: 24px;
  min-width: 300px;
  min-height: 200px;
  outline: 1px solid #c5bdbd;
  /* Setup */
  position: relative;
  margin: 0 auto;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .upload-box{

  }
}