<div class="container">
    <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
        <div >
                <mat-form-field class="full-width" appearance="fill">
                    <mat-select placeholder="status" formControlName="assignedStatus">
                        <mat-option *ngFor="let opt of assignedOptions" [value]="opt.code">
                            {{ opt.status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                    <input matInput [min]="minDate" [ngxMatDatetimePicker]="picker" formControlName="scheduledTime">
                    <mat-hint>MM/DD/YYYY hh-mm</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [stepHour]="1" [stepMinute]="30"></ngx-mat-datetime-picker>
                </mat-form-field>
     <div class="full-width" >
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!assignmentForm.valid">Submit</button>
            <button mat-raised-button color="primary" onclick="history.back()">Back</button>
        </mat-card-actions>
    </div>
    </div>
    </form>
</div>
