
.example-table-container {
    position: relative;
    overflow: auto;
  }
  
  table {
    width: 100%;

  }

  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 100px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  
  .smallPic{
    max-width: 64px;
    max-height: 64px;
  }
    

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  

  .container{
    height: 100vh;
    display: flex;
    align-items: center;
    }
    
    .map-half{
    width: 45vw;
    height: 80vh;
    padding: 50px 0;
    }

    .table{
      width: 45vw;
      height: 80vh;
      padding: 50px 0;
      }
    
    @media only screen and (max-width: 600px) {
      .map-half{
        width: 95vw;
        height: 50vh;
        margin-top: -20px;

        }
        
        .table{
          height: 50vh;
          width: 98vw;

          }

.container{
  display: flex;
  flex-wrap:wrap;
  align-items: flex-start;
}
    }

    .mat-cell{
      font-size: 18px;
    }

    .mat-header-cell{
      font-size: 18px;
    }
    .mat-column-address {
      flex: none;
      width: 300px;
  }

  .mat-column-update {
    flex: none;
    width: 50px;
  }

  .mat-column-assignedStatus {
    flex: none;
    width: 200px;
}
